@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-background: #040714;
  --home-background: rgb(26, 29, 41);
}

body{
  background: var(--home-background);
}

.wrapper{
  padding: 0 calc(3vw + 24px)
}

/* GLOBAL CSS */
.mainCategoryBG{
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
  border-radius: 8px;
}

.boxShadow{
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, 
  rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
}

/* navbar */
.navbar{
  font-size: 13px;
  letter-spacing: 1.42px
}

/* slick slider overrides */
.slick-initialized .slick-slide{
  padding: 0 10px;
}

.slick-current:hover .mainCategory{
  border: 4px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.slick-slider .slick-prev{
  top: 45%;
  left: 25px;
  transform: translateY(-45%);
  z-index: 10;
}

.slick-slider .slick-next{
  top: 45%;
  right: 20px;
  transform: translateY(45%);
}

.slick-dots{
  bottom: 30px !important;
  right: 0;
}

/* .slick-prev:before{
    content: '';
    background: url('data:image/svg+xml,<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd"></path></svg>') no-repeat;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.slick-next:before{
    content: '';
    background: url('data:image/svg+xml,<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd"></path></svg>') no-repeat;
    display: inline-block;
    height: 40px;
    width: 40px;
} */

/* Wrapper */

/* Main Categories */
.hideBG{
  opacity: 0;
}
.showBG{
  opacity: 1;
}
